   body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            color: #000;
            font-size: 22px;
        }
        .navbar ul {
            text-decoration: none;
            display: flex;
            gap: 30px;
            list-style: none;
        }
        .navbar ul li a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            padding: 2px;
        }
        .navbar h1 {
            position: absolute;
            left: 20px;
        }
        .login-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .login-container input {
            width: 97%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #000000;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .login-container button:hover {
            background-color: #181818f2;
        }
        .login-container p {
            text-align: center;
        }
        .login-container p a{
            color: #000000;
            text-decoration: none;
        }
        .login-container a:hover {
            text-decoration: underline;
        }
        .login-container a{
            color: #fffafa;
            text-decoration: none;
        }